<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @activity.subject %>
</p>

<p>
  <strong>Content:</strong>
  <%= @activity.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @activity.user %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
